<div class="main">
    <div class="text_container">
      Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
    </div>
  <%= image_tag 'lazy1.jpeg' %>

  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>

  <%= image_tag 'lazy2.jpeg' %>

  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>

  <%= image_tag 'lazy3.jpeg' %>

  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>

  <%= image_tag 'lazy4.jpeg' %>

  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>

  <%= image_tag 'lazy5.jpeg' %>

  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>

  <%= image_tag 'lazy6.jpeg' %>
  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>
  <%= image_tag 'lazy7.jpeg' %>
  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>
  <%= image_tag 'lazy8.jpeg' %>
  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>
  <%= image_tag 'lazy9.jpeg' %>
  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>
  <%= image_tag 'lazy10.jpeg' %>
  <div class="text_container">
    Lazy loading is a design pattern commonly used in computer programming to defer initialization of an object until the point at which it is needed. It can contribute to efficiency in the program's operation if properly and appropriately used. The opposite of lazy loading is eager loading.
  </div>
  <%= image_tag 'lazy11.jpeg' %>
</div>
